
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>

	<!-- ENDIF -->
	<div style="width:100%;height:17px;"></div>
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div>
			<div>
			
			
			<ul class="topiclist" >
				<li>
					<dl style="background-color: rgba(0, 0, 0, 0.6);">
						<dt><!-- IF forumrow.S_IS_CAT -->
						<br>
						<a href="{forumrow.U_VIEWFORUM}"><p style="text-shadow: 1px 3px 5px #000, 3px 3px 5px #000;">&nbsp;&nbsp;&nbsp;&nbsp;{forumrow.FORUM_NAME}</p></a>
						
						
						
						<!-- ELSE -->{L_FORUM}<!-- ENDIF --></dt>
						<dd style="text-shadow: 1px 3px 5px #000, 3px 3px 5px #000;" class="topics">{L_TOPICS}</dd>
						<dd style="text-shadow: 1px 3px 5px #000, 3px 3px 5px #000;" class="posts">{L_POSTS}</dd>
					</dl>
				
				</li>
			</ul>
			<div style="background-color: rgb(0, 0, 0);width:100%;height:17px;"></div>
			<ul class="topiclist forums" style="background: url(./styles/lucid_lime/imageset/wholestromgreycom.jpg);opacity: 0.88;">
	<!-- ENDIF -->

	<!-- IF not forumrow.S_IS_CAT -->
		<li class="row">
			<dl class="icon" >
				<dt title="{forumrow.FORUM_FOLDER_IMG_ALT}">
				<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><!-- <a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a> --><!-- ENDIF -->

					<!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><!-- ENDIF --><div style="background-color: rgb(0, 0, 0);width:100%;height:100%; opacity: 1;z-index:3000; ">
					<a href="{forumrow.U_VIEWFORUM}" class="forumtitle" >&nbsp;&bull;&nbsp;&nbsp;{forumrow.FORUM_NAME}</a></div><br />
					<p style="text-shadow: 1px 3px 5px #000, 3px 3px 5px #000;">{forumrow.FORUM_DESC}</p>
					<!-- IF forumrow.MODERATORS -->
						<br /><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}
					<!-- ENDIF -->
					<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><br /><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}<!-- ENDIF -->
				</dt>
				<!-- IF forumrow.CLICKS -->
					<dd class="redirect"><span style="margin-left: 12px;">{L_REDIRECTS}: {forumrow.CLICKS}</span></dd>
				<!-- ELSEIF not forumrow.S_IS_LINK -->
					<dd class="topics">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
					<dd class="posts">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></dd>
					<dd class="lastpost"><span>
					<a href="{forumrow.U_VIEWFORUM}">{forumrow.LAST_POST_SUBJECT}</a>
						<br />&nbsp;</span>
					</dd>
				<!-- ENDIF -->
			</dl>
		</li>
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>
			
			<span  class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->
	
	
	
<!-- BEGINELSE -->
	<div class="panel " style="background-color: rgb(0, 0, 0);width:100%;height:100%;">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_FORUMS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- END forumrow -->

<div id="twitter"></div>

	<div style="background-color: rgb(0, 0, 0);width:100%;height:47px;"><br><h3><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ONLINE:</a></h3><br></div>
	<div style="background-color: rgba(0, 0, 0,0.4);width:100%;height:17px;"><p style="margin-left:23px;">{LOGGED_IN_USER_LIST}</p><br></div>
</div>






</div>

<br><br><br><br>
<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<div style="float:left;width:17%;margin-left:8%;">
<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset >
			<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10"  title="{L_USERNAME}" />
			<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10"  title="{L_PASSWORD}" />
			
			<input type="submit" name="login" value="{L_LOGIN}" class="button1" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
</div>
<!-- ENDIF -->
<div style="float:right;margin-top:3%;margin-left:79%;position:absolute;text-align:center;">
<h3><a id="midstitle" href="#">The flowers of life</a></h3><br>
<h3 id="allmid"><ul><li><a id="spiritmid" href='#flower'>Spirit</a></li><li><a id="mattermid" href='#flower'>Matter</a></li></ul></h3><br>
    <a id="allemids"  id="menu">
				
				<img  id="menu-img"src="./styles/lucid_lime/imageset/seed_menu2.png" width="123" height="122" alt="" title="" onmouseover='menuhover()' onmouseleave='menuendhover()'/>
				
				</a>
</div>
<div style="float:right;width:32%;margin-right:33%;">
<div class="rain" >
<div class="border start" style="float:center;">
<form >
<label style="text-align:center;"><h3><a href="#">&nbsp;&nbsp;&nbsp;Twitter</a></h3></label>
<a class="twitter-timeline" height="130px" data-dnt="true" href="https://twitter.com/entropysk/favorites" data-widget-id="466591538286301184">Favorite Tweets by @entropysk</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</form>

</div>

<br>
</div>
</div>

<div style="float:left;width:67%;margin-top:2%;margin-right:1%;">
<div class="rain" >
<div class="border start" style="float:center;">
<form >
<label><h3><a href="#">Posts</a></h3><label>
<div style="background-color: black;width:100%;height:290px;display:block;">
    
</div>
</form>




<form >
<div style="width:100%;height:30px;">
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</form>

</div>
</div>
</div>



<div style="float:left;width:31%;">
<div class="rain" >
<div class="border start" style="float:center;">
<form >
<label><h3><a name="flower" href="#">Tags flower</a></h3><label>


<div id="emid"style="width:300px;height:300px;">
    
</div>
<input type="text" name="regcoords" id="regcoords" />
<div id="coords">Coords</div>

</form>

</div>
</div>
</div>






