<!-- INCLUDE overall_header.html -->

<!-- INCLUDE forumlist_body.html -->

<!-- IF U_ACP --><strong style="margin-left:17px;"><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
</div>
</div>
</div>
<div style="width:100%;" class="">
<div  >
<br>
<div >
&nbsp;&nbsp;&nbsp;&nbsp;{CREDIT_LINE}, <a href="http://css-tricks.com/examples/StarryNightCSS3/">Starry Night </a>(chriscoyier.net), <a href="http://kaylarose.github.io/Glowform/">Glowform</a> (kaylarose.github.io/Glowform)
<form>
<p style="float:right;margin-right:7px;"><b>BTC</b>:&nbsp;&nbsp;&nbsp;
<script src="http://coinwidget.com/widget/coin.js"></script>
<script>
CoinWidgetCom.go({
	wallet_address: "1Lzp5ABeY7T9pEDLWq2Up6dGtM6B1N7QSX"
	, currency: "bitcoin"
	, counter: "hide"
	, alignment: "bl"
	, qrcode: true
	, auto_show: false
	, lbl_button: "Donations"
	, lbl_address: "My BTC wallet:"
	, lbl_count: "donations"
	, lbl_amount: "BTC"
});
</script></p>
</form>
</div>
<div style="background-color: rgb(0, 0, 0);width:100%;height:17px;"></div>
<br>

</div></div>
<br><br>
</div>
</div>
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
<br><br><br>
</body>
</html>